.pillar-container {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.pillartop {
    background: url('../../../assets/image/pillartop.png');
    background-position: bottom;
}

.pillarbottom {
    background: url('../../../assets/image/pillarbottom.png');
}