.title{
    color: white;
    margin-top: 80px;
}

.img-container{
    background-color: black;
    height: 180px;
    width: 180px;
    margin-top: 80px;
}

.home-container{
    position: absolute;
    height: 100vh;
    top: 0;
}