.title {
    color: white;
    margin-top: 80px;
}

.title-tutorial {
    position: absolute;
    top: 0;
    color: white;
    margin-top: 80px;
}

.home-container {
    position: absolute;
    height: 100vh;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    gap: 20px;
}

.tutorial-icon {
    z-index: 5;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px;
}

.white-icon {
    fill: white;
}

.red-icon {
    fill: red;
    stroke: white;
}

/* Home shuttle animation */
:root {
    --pixel-size: 1.5;
}

.img-container {
    height: calc(100px * var(--pixel-size));
    width: calc(100px * var(--pixel-size));
    overflow: hidden;
    position: relative;
}

.spaceshuttle-spritesheet {
    animation: moveSpriteSheet 2s steps(7) infinite;
    width: calc(698px * var(--pixel-size));
    position: absolute;
    left: 0;
}

.pixelart {
    image-rendering: pixelated;
}

.input-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-banner {
    display: flex;
    align-items: center;
    gap: 10px;
    color: red;
}

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}

@media ((min-height:800px) and (min-width:500px)) {
    .home-container {
        position: absolute;
        height: 100vh;
        top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        gap: 35px;
    }

    .title {
        font-size: 50px;
    }

    .title-tutorial {
        font-size: 50px;
    }

    :root {
        --pixel-size: 3.0
    }

    .error-banner {
        display: flex;
        align-items: center;
        gap: 10px;
        color: red;
        font-size: 20px;
    }

    .tutorial-icon {
        height: 60px;
        width: 60px;
        top: 0;
    }

}