.score-text {
    color: white;
    margin-top: 30px;
    font-size: 35px;
}

@media ((min-height:800px) and (min-width:500px)) {
    .score-text {
        color: white;
        margin-top: 30px;
        font-size: 60px;
        position: absolute;
        top: 50px;
    }
}