.game-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Home shuttle animation */


.game-box {
    position: relative;
    height: 550px;
    width: 375px;
    overflow: hidden;
    /* background-color: aliceblue; */
}


/* @keyframes jumpShuttle {
    0% {
        transform: 0;
    }

    10%{
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(+900px);
    }
} */