.gameover-container{
    margin: 0 auto;
    width: 60vw;
    height: 40vh;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: #2E0249;
    width: 120px;
    height: 30px;
    font-size: 20px;  
    color: white;
    padding: 5px;
    border-radius: 40px;
    margin: 10px
}

.title-gameover{
    font-size: 30px;
    color: black;
}