.ranking{
    width: 60vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: #2E0249;
    border: 2px solid black;
    /* border-radius: 20px; */
    padding: 0 20px;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rank-container{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.empty-ranking{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 55vw;
}

th{
    border: 3px solid white;
}

td{
    border: 1px solid white;
    padding: 3px;
}

.title-ranking{
    color: white;
}

@media((min-height:800px) and (min-width:500px)){
    th{
        border: 3px solid white;
        font-size: 30px;
    }
    td{
        border: 1px solid white;
        padding: 10px;
        font-size: 20px;
    }
    .title-ranking{
        color: white;
        font-size: 60px;
    }
    .rank-container{
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }
}