:root {
    --pixel-size-game: 0.7;
}

.shuttle-container {
    height: calc(100px * var(--pixel-size-game));
    width: calc(100px * var(--pixel-size-game));
    overflow: hidden;
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 20px;
    transition: top .2s;
}

.explosion {
    animation: moveSpriteSheet 0.8s steps(7) forwards;
    top: calc(-288px * var(--pixel-size-game));
}

.shuttle {
    position: absolute;
    left: 0;
    width: calc(698px * var(--pixel-size-game));
}

@keyframes moveSpriteSheet {
    from {
        transform: translate3d(0px, 0, 0)
    }

    to {
        transform: translate3d(-100%, 0, 0)
    }
}